name: tokenized-strategy-ape-mix

plugins:
  - name: solidity
  - name: etherscan
  - name: hardhat
  - name: infura
  - name: alchemy
  - name: polygon
  
default_ecosystem: polygon

dependencies:
  - name: openzeppelin
    github: OpenZeppelin/openzeppelin-contracts
    version: 4.8.2
  - name: tokenized-strategy
    github: yearn/tokenized-strategy
    branch: 3.0.1-beta
    contracts_folder: src
    exclude:
     - src/test/**/*
  - name: periphery
    github: schlagonia/tokenized-strategy-periphery
    branch: master

solidity:
  import_remapping:
    - "@openzeppelin/contracts=openzeppelin/v4.8.2"
    - "@tokenized-strategy=tokenized-strategy/3.0.1-beta"
    - "@periphery=periphery/master"

polygon:
  default_network: mainnet-fork
  mainnet_fork:
    default_provider: hardhat

hardhat:
  fork:
    polygon:
      mainnet:
        upstream_provider: alchemy